<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Receta</title>
</head>
<body>
    <h2>Eliminar Receta</h2>
    <p>¿Estás seguro que deseas eliminar la receta del paciente ID {{ receta.id_paciente }}?</p>

    <form method="POST" action="{{ url_for('receta.eliminar_receta', receta_id=receta.id) }}">
        <button type="submit" style="background-color:red;color:white;">Sí, eliminar</button>
        <a href="{{ url_for('receta.listar_recetas') }}">Cancelar</a>
    </form>
</body>
</html>
