<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Médicos</title>
</head>
<body>
    <h1>Médicos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Especialidad</th>
                <th>Horario</th>
                <th>Fecha Ingreso</th>
            </tr>
        </thead>
        <tbody>
            {% for m in medicos %}
            <tr>
                <td>{{ m.id }}</td>
                <td>{{ m.nombre_usuario }}</td>
                <td>{{ m.nombre }}</td>
                <td>{{ m.apellido }}</td>
                <td>{{ m.especialidad }}</td>
                <td>{{ m.horario_atencion }}</td>
                <td>{{ m.fecha_ingreso }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
