<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Paciente</title>
</head>
<body>
    <h2>Eliminar Paciente</h2>
    <p>¿Estás seguro que deseas eliminar al paciente {{ paciente.nombre }} {{ paciente.apellido }}?</p>

    <form method="POST" action="{{ url_for('paciente.eliminar_paciente', paciente_id=paciente.id) }}">
        <button type="submit" style="background-color:red;color:white;">Sí, eliminar</button>
        <a href="{{ url_for('paciente.listar_pacientes') }}">Cancelar</a>
    </form>
</body>
</html>
