<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login - MediPlus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Iniciar Sesión</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, msg in messages %}
                    <div class="flash {{ category }}">{{ msg }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST" action="{{ url_for('login.login_action') }}" class="form-box">
            <input type="text" name="nombre_usuario" placeholder="Nombre de usuario" required class="form-input">
            <input type="password" name="clave" placeholder="Contraseña" required class="form-input">
            <button type="submit" class="menu-button">Iniciar Sesión</button>
        </form>

        <p class="form-footer">
            ¿No tienes cuenta? <a href="{{ url_for('registro.register_form') }}">Regístrate</a>
        </p>
    </div>
</body>
</html>
