<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listado de Insumos</title>
</head>
<body>
    <h2>Insumos</h2>
    <a href="{{ url_for('insumo.crear_insumo') }}">Crear Nuevo Insumo</a>

    <table border="1" cellpadding="5">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Stock</th>
                <th>Costo (USD)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for i in insumos %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.nombre }}</td>
                <td>{{ i.tipo }}</td>
                <td>{{ i.stock }}</td>
                <td>{{ i.costo_usd }}</td>
                <td>
                    <a href="{{ url_for('insumo.editar_insumo', insumo_id=i.id) }}">Editar</a> |
                    <a href="{{ url_for('insumo.eliminar_insumo', insumo_id=i.id) }}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
